body {
    margin: 0%;
    padding: 0%;
    background-color: #000000;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    cursor: url('./images/cursor.png'), auto;
}

img {
    position:absolute;
    justify-content: center;
    align-items: center;
    transform: scale(2.2) translateX(150px);
    /* max-width: 100%; */
    max-height: 100%;
}

@media (max-width:500px) {
    img {
        transform: translateY(150px);
        max-width: 100%;
    }
}